<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<link rel="stylesheet" type="text/css" href="stylesheets/ccstyle.css">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Mesosphere DC/OS AppStudio</title>

</head>
<body bgcolor="#FFFFFF">
	<div id="alldiv" class="dashdiv">
		<iframe class="dashframe" src="http://<%= publicnode %>/service/kibana/app/kibana#/dashboard/06d4a280-33c2-11e7-b8e7-e7f06fdb10c1?embed=true&_g=(refreshInterval:(display:'10+seconds',pause:!f,section:1,value:10000),time:(from:now-15m,mode:quick,to:now))&_a=(filters:!(),options:(darkTheme:!f),panels:!((col:1,id:'04902140-35a5-11e7-9c03-cdd1c71c3733',panelIndex:1,row:1,size_x:12,size_y:5,type:visualization),(col:1,id:'28660f70-35a6-11e7-9c03-cdd1c71c3733',panelIndex:2,row:6,size_x:4,size_y:3,type:visualization),(col:5,id:'62a23700-35aa-11e7-a295-efc553fcb2b2',panelIndex:3,row:6,size_x:4,size_y:4,type:visualization),(col:9,id:'3377e0a0-35b0-11e7-a295-efc553fcb2b2',panelIndex:4,row:6,size_x:4,size_y:4,type:visualization)),query:(query_string:(analyze_wildcard:!t,query:'*')),timeRestore:!t,title:'Connected+Car',uiState:(P-1:(mapCenter:!(37.33044712408894,-122.069993019104),mapZoom:14),P-2:(vis:(params:(sort:(columnIndex:3,direction:desc)))),P-3:(vis:(legendOpen:!f))),viewMode:edit)" height="600" width="800"></iframe>
	</div>
</body>
</html>
